.is-text-block {
  text-align: justify;
}

@for $i from 1 through 20 {
  .is-rounded-#{$i} {
    border-radius: #{$i*5}px
  }
}
.is-rounded {
  border-radius: 10px;
}

.v-application a {
  &.is-link {
    color: white;
    cursor: pointer;
  }
}

.mb-max {
  margin-bottom: 15rem !important;
}

.mt-negative-1 {
  margin-top: -0.5rem !important;
}
.mt-negative-2 {
  margin-top: -1rem !important;
}
.mt-negative-3 {
  margin-top: -1.5rem !important;
}
.mt-negative-4 {
  margin-top: -2rem !important;
}
.mt-negative-5 {
  margin-top: -2.5rem !important;
}
.mt-negative-5-5 {
  margin-top: -3.5rem !important;
}
.mt-negative-6 {
  margin-top: -4rem !important;
}

.mb-negative-3 {
  margin-bottom: -1.5rem !important;
}
.mb-negative-4 {
  margin-bottom: -2rem !important;
}
.mb-negative-5 {
  margin-bottom: -2.5rem !important;
}
.mb-negative-5-5 {
  margin-bottom: -3.5rem !important;
}
.mb-negative-6 {
  margin-bottom: -4rem !important;
}

.is-cursor-pointer {
  cursor: pointer;
}

.is-break-all {
  word-break: break-all;
}
