@import './helpers.scss';
@import './vuetify.scss';

.is-navigation-top-part {
  width: 100%;
  height: 3rem;
}

#lateral .v-btn--example {
  bottom: 1.8rem;
  right: 3rem;
  position: fixed;
  margin: 0 0 16px 16px;
}

@media (min-width: 1904px) {
  .container {
    max-width: 1185px !important;
  }
}


// Transitions
.route-enter-active, .route-leave-active { transition: opacity .2s; }
.route-enter, .route-leave-active { opacity: 0; }
