.v-card {
  min-height: 27rem;
  min-width: 320px;
  padding-bottom: 0.2rem;
}

.v-card:hover {
  box-shadow: 0px 0px 0px 1px #343434 !important;
}

.v-app-bar {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.v-chip:hover {
  &.is-hoverable {
    background-color: #64B5F6 !important;
  }
}
